.hero,
.cards-container {
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
}
.hero {
  background: url("https://images.yourstory.com/cs/1/a5b639f0-7884-11e9-8da9-af883672548c/shared_darken_cowork1566194215671.jpg?fm=png&auto=format")
    center center no-repeat;
  background-size: cover;
  padding: 100px 0;
  position: relative;
}

.hero__headline,
.hero__subheadline {
  display: block;
  color: white;
  text-align: center;
}

.hero__headline {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero__subheadline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.hero__button {
  background: white;
  border-radius: 50%;
  height: 40px;
  margin: 40px auto 0;
  transition: transform 0.2s linear;
  width: 40px;
}

.hero__button:hover {
  transform: scale(1.4);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 80px 0;
}

.card {
  border: 1px solid #f5f5f5;
  color: rgb(32, 36, 40);
  margin: 20px 0;
  height: 180px;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 25%;
}

.card__eyebrow {
  background: white;
  left: 50%;
  padding: 5px 15px;
  position: absolute;
  transform: translateX(-50%);
  top: -15px;
}

.card__eyebrow--green {
  color: rgb(18, 213, 113);
}

.card__eyebrow--blue {
  color: rgb(18, 193, 213);
}

.card__eyebrow--red {
  color: rgb(234, 89, 73);
}

.card__description {
  height: 56px;
  overflow: hidden;
}

.card__button {
  background: rgb(32, 36, 40);
  border: 0;
  color: white;
  padding: 10px 5px;
  min-width: 120px;
}

.card__button--green {
  background: rgb(18, 213, 113);
}

.card__button--blue {
  background: rgb(18, 193, 213);
}

.card__button--red {
  background: rgb(234, 89, 73);
}
